:root {
    --black: #1E1E1E;
    --dark-grey: #1F1F1F;
    --grey: #333333;
    --white: #FFF;
    --neon-green: #C4F82A;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--black);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--dark-grey);
    width: 20rem;
    padding: 1.5rem;
    border: 1px solid red;
    display: flex;
    justify-content: center;
}

.profile-picture {
    border-radius: 100%;
}